

#logo {
  position: absolute;
  z-index: 1;
  // Use your own values for anything below this line.
  left: 5px;
  top: -30px;
  height: 120px;
  width: 90px;
  
  
}

.nav.navbar-nav.navbar-right li a {
    color: rgb(88, 154, 212);
}
.heading-text  {
  h1{
    color: rgb(88, 154, 212);
  }
  h3{
    color: rgb(223, 194, 80);
  }
    
}


main {
  padding-top: 50px;
}
